main {
    flex-grow: 1;
}

.main {
    background-image: url('../../images/png/round.png');
    background-position:  -100px 70px;
    background-repeat: no-repeat;
}

.main__text {
    margin-top: 12.7rem;
    margin-bottom: 3.7rem;
}

.h1__name::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 492px;
    background-color:$green-color;
    bottom: 0;
}

.main__text__h1{
    margin-bottom: 3.7rem;
    position: relative;
}

.main__text__pp {
    margin-bottom: 6.6rem;
}

a {
    color: $white-color;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.625;
    position: relative;
    letter-spacing: 2.286;
}

.main__text {
    position: relative;
}

.main__text__link::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 98px;
    background-color:$green-color;
    bottom: 0;
}

.main__header__img {
    position: relative;
}

.main__text__img__img {
       position: absolute;
       bottom: 0;
}

.main__header {
    display: flex;
}

.main__header__img {
    z-index: -1;
    position: absolute;
    padding-top: 15rem;
    top: 0rem;
    width: 44.4rem;
    height: 72.9rem;
    right: -50rem;
    background-color: #242424;
}

.main__header__img__img {
    position: absolute;
    bottom: 0;
}

.main__header__wrapper {
    position: absolute;
    top: 0;
    left: 240rem;
}

.container {
    background-image:url('../../images/png/header-png.png');
    background-repeat: no-repeat;
    background-position:right top ;
}