$black-color:#151515;
$green-color:#4EE1A0;
$dark-grey-color:#242424;
$grey-color:#d9d9d9;
$white-color:#ffffff;


$h1-fs:8.8rem;
$h1-fw:700;
$h1-lh:1;
$h1-ls:-2.5px;

$h2-fs:4.8rem;
$h2-fw:700;
$h1-lh:1.16;
$h1-ls:-1.5;

$h4-fs:2.4rem;
$h4-fw:700;
$h4-lh:1.33;

$body-fs:1.8rem;
$body-fw:500;
$body-lh:1.55;